<!DOCTYPE html>
<head>
  <title>Athlete</title>
</head>
<body>
<section class="gear">

<h2> {{firstname}} {{lastname}}'s gear </h2>
    <table class="gear" id="shoes">
    <thead>
     <th>Name</th>
     <th>Distance (Meters)</th>
     </thead>
     <tbody>
     {{#shoes}}
     <tr>
      <td>{{name}}</td>
      <td>{{distance}}</td>
      </tr>
      {{/shoes}}
     </tbody>
    </table>

  <table class="gear" id="bike">
  <thead>
  <th>Name</th>
  <th>Distance (Meters)</th>
  </thead>
  <tbody>
  {{#bikes}}
  <td>{{name}}
  <td>{{distance}}</td>
  </tr>
  {{/bikes}}
  </tbody>
  </table>
  </section>
</body>
</html>
